@import "tailwindcss";
@import "@repo/ui/styles.css";

@variant dark (&:where(.dark, .dark *));

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  animation: fadeSlideUp 2s ease forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes ripple {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.3);
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
  }
}

@source "../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "./src/**/*.{js,ts,jsx,tsx}";